
# E2EEE
VITE_THREADS_E2EE_KEY=test_123
VITE_LIVEKIT_E2EE_KEY=test_123

# PEER
VITE_PEER_HOST=peer.silverteams.com
VITE_PEER_PORT=9001
VITE_PEER_PATH=/webrtc
VITE_PEER_PUBLISHABLE_KEY=pk_test_123

# Keycloak
VITE_KEYCLOAK_URL=https://auth.silvercore.fr
VITE_KEYCLOAK_REALM=SilverTeams
VITE_KEYCLOAK_CLIENT_ID=silverteams_web_app

# Socket
VITE_SOCKET_URL=localhost:3467
VITE_SOCKET_PATH=/socket

# API
VITE_API_URL=api.silverteams.com
VITE_DEV=true